spacy==3.7.2
streamlit==1.38.0
gTTS==2.5.1
pandas==2.2.2
reportlab==4.2.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz








